* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #e1e6f2;
}
.container{
    margin: 0 auto;
}
.cards{
  display: flex;
}
.header{
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
  color: #fff;
}
.marckdown{
  padding: 20px;
  margin:5px;
  background-color: white;
}
.block{
  width: 26%;
  height: 150px;
  padding: 20px;
  margin:5px;
  background-color: white;
}
.block h2{
  font-weight: bold;
}
.graph{
  #margin: 5px;
  padding: 0;

}

.graph-one #example-graph {
  width: 64%;
  margin: 5px;
  display: inline-block;
  float: left;
  background-color: white;
}
.graph-two #example-graph-2 {
  width: 33%;
  margin: 5px;
  display: inline-block;
  float: right;

  background-color: white;
}
.footer {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
  color: #fff;
}